# Expo
.expo/
.expo-shared/

# Node modules
node_modules/

# Dependencies
npm-debug.log
yarn-error.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# Build outputs
build/
dist/
*.apk
*.ipa
*.jks

# OS
Thumbs.db
.DS_Store
